html {
	background: #1f4037;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1f4037, #99f2c8);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1f4037, #99f2c8);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	;
	font-family: 'Benne', serif;
	padding: 20px;
	border: 10px;
}

ul {
	list-style: none;
	overflow: hidden;
	float: right;
}

li {
	display: inline-block
}

a {
	text-decoration: none;
}

.Menu {
	display: flex;
	background-color: #2F3029;
	padding: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.Menu div {
	background-color: #C8CBD8;
	margin: 13px;
	padding: 15px;
}

.Grid-Container {
	display: grid;
	background-color: darkcyan;
	grid-template-columns: auto auto auto
}

.Grid-Container div {
	text-align: center;
	border-top: 1px solid black;

}

.imagen {
	position: relative;
	display: inline-block;
	text-align: left;
}

.imagen1 {
	;
	position: relative;
	display: inline-block;
	text-align: center;
}

.imagen2 {
	;
	position: relative;
	display: inline-block;
	text-align: right;
}

.aboutMP {
	display: flex;
	background-color: #2F3029;
	padding: 60px;
	margin: 60px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;

}

fieldset {
	background-color: #C8CBD8;
	text-align: center;
	padding: 10px;
	margin: 15px;
}

#contact {
	text-align: left;
}

h1 {
	color: #e0dcce;
	text-align: left;
}

h2 {
	color: #64ADD6
}

h3 {
	color: #7d8227
}

h4 {
	color: #b09731;
}

p {
	color: #32632f
}

table {
	color: #0a5205
}

ul li {
	color: #bf4717
}

hr {
	color: #9c9795
}

select {
	color: #646294;
}

#TW {
	color: #3a9cde
}

#IG {
	color: #f2165c;
}

#FB {
	color: #50209e
}

#OT {
	color: #000000
}

header {
	color: darkred
}

footer {
	color: darkred
}